<%= form_with(model: Blog.new, local: true) do |form| %>
  

  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>errors occurred.</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="blog_title">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
    <div class="blog_title">
      <%= form.label :dob %>
      <%= form.text_field :dob %>
    </div>
    <%= form.submit %>
    <%= link_to "Return to List of blogs screen", blogs_path %>
  <% end %>